
@using Crm.Domain.Models.Permissions
@model Crm.Domain.ViewModel.User.UserViewModel
@{
    ViewData["Title"] = "ویرایش کاربر";
    var Roles = ViewData["Roles"] as List<Role>;

}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="User" asp-action="Index">لیست کاربران</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">ویرایش کاربر</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-md-12 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ثبت کاربر</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical" method="post">
                    <div class="form-body">
                        <div class="row">
                            <input type="hidden" asp-for="UserId" />
                            <div class="col-12">
                                <div class="form-group">
                                    <label>نام و نام خانوادگی</label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="text" class="form-control" asp-for="Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                        <div class="form-control-position">
                                            <i class="bx bx-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label>نام کاربری</label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="text" class="form-control" asp-for="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                        <div class="form-control-position">
                                            <i class="bx bxs-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="password" class="form-control" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <div class="form-control-position">
                                            <i class="bx bx-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class=" col-12">
                                <label>وضعیت کاربر</label>
                                <div class="form-group">
                                    <select asp-for="IsActive" class="select2 form-control" asp-items="@(ViewData["Status"] as SelectList)">
                                    </select>
                                    <span asp-validation-for="IsActive" class="text-danger"></span>

                                </div>
                            </div>



                            <div class="col-12">
                                <label>سطح دسترسی</label>
                                <div class="form-group">
                                    <select class="select2 form-control" name="selectedRoles" multiple>
                                        @foreach (var item in Roles)
                                        {
                                            if ((Model.UserRoles.Any(r => r == item.RoleId)))
                                            {
                                                <option value="@item.RoleId" selected="">@item.RoleTitle</option>
                                            }
                                            else
                                            {
                                                <option value="@item.RoleId">@item.RoleTitle</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            
                 
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت</button>
                            </div>



                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Customstyles
{
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/forms/select/select2.min.css">
}
@section Script
{

    <script src="/assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/assets/js/scripts/forms/select/form-select2.js"></script>
}